.card{
  margin-top: 16px;
  margin-bottom: 16px;
}
.coverUrl{
  width: 100%;
}

.subtitle {
  max-lines: 3;
  text-overflow: ellipsis;
}

.dateCreated{
  text-transform: uppercase;
  color: indianred;
  font-weight: 600;
}
